.box-layout__box--about {
  background: fade-out(white, .15);
  border-radius: 3px;
  padding: $l-size;
  text-align: center;
  width: 80rem;
  font-size: $m-size;
}


.box-layout__box--about p {
  text-align: left;
}


p.mission-statement {
  font-size: $large-font-size;
  margin-bottom: $l-size;
  text-align: center;
}