.button {
  background: darken($blue, 20%);
  border: none;
  color: white;
  padding: $xs-size;
  font-weight: 300;
  font-size: $small-font-size;
  display: inline-block; // Takes into effect top and bottom margin and padding
  text-decoration: none;
  line-height: 1;
  &:hover {
    background: darken($blue, 25%);
  }

  @media (max-width: $desktop-breakpoint) {
    font-size: $small-font-size;
    margin-bottom: 4px;
  }
}

button:focus {
  outline: none;
}

.button--link {
  background: none;
  color: white;
  border: none;
  padding: $s-size;
  font-weight: 300;
  &:hover {
    @media (min-width: $desktop-breakpoint) {
      background: darken($dark-gold, 5%);
    }
  }

  @media (max-width: $desktop-breakpoint) {
    font-size: $small-font-size;
    margin: 0;
    padding: $xs-size;
    padding-right: 0;
  }

}

.button--link__secondary {
  @extend .button;
  background: $dark-gold;
  color: white;
}

.button--secondary {
  @extend .button;
  background: $blue;

  &:hover {
    background: darken($blue, 5%);
  }
}


.button--third {
  @extend .button;
  background: darken($blue, 10%);

  &:hover {
    background: darken($blue, 15%);
  }
}

.button--clear {
  @extend .button;
  margin-top: $s-size;
  margin-bottom: $s-size;
  flex-flow: row;

  background: $red;
  &:hover {
    background: darken($red, 5%);
  }
}

.button--fetch {
  @extend .button;
  padding: $xs-size;
  margin-top: $xs-size;
}