.header {
  background: $dark-gold;
  color: white;
  margin-bottom: $s-size;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
    font-family: Cinzel;
  }
}

.header__content {
  align-items: center;
  padding: $s-size 0;
  display: flex;
  justify-content: space-between; // distribute leftover space between title and button
}