.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 10%);
  color: $medium-grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list-item {
  border: 1px solid darken($off-white, 10%);
  border-top: none;
  color: $dark-grey;
  padding: $s-size;
  text-decoration: none;

  @media (min-width: $desktop-breakpoint){ // when min-width is desktop-breakpoint or higher
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
    align-items: center;
  }
}

.list-item__button-container {
  display: flex;
  justify-content: center;
}

.selected {
  background: $off-white;
}

.prompt {
  text-align: center;
  margin-top: $l-size;
  font-style: italic;
}

.list-item:first-of-type {
  margin-top: $s-size;
  border-top: 1px solid darken($off-white, 10%);
}

.list-item a {
  color: black;
  &:hover {
    color: $blue;
  }
}

.list-item__title {
  flex: 5;
  @media (max-width: $desktop-breakpoint) {
    text-align: center;
    margin-bottom: $m-size;
  }
}

.showing {
  max-height: 9000px;
  opacity: 1;
  transition: max-height .4s, opacity .2s;
}
.collapsed {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0px;
}

.list-item__settings {
  @extend .list-item;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: none;
  border-bottom: none;
}

.list-item__settings:first-of-type {
  margin-top: 0px;
  border-top: none;
}

.list-item__settings:last-of-type {
  border-bottom: 1px solid darken($off-white, 10%);
}


.list-items__settings-toggle {
  padding: none $s-size;
}


.list-item__settings-description {
  font-size: $small-font-size;
}

