.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 10%);
  color: $medium-grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list-item {
  border: 1px solid darken($off-white, 10%);
  border-top: none;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  text-decoration: none;
  transition: background .2s ease;


/*   &:hover { // equivalent to .list-item:hover
    background: $off-white;
  } */

  @media (min-width: $desktop-breakpoint){ // when min-width is desktop-breakpoint or higher
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
    align-items: center;
  }
}

.list-item:first-of-type {
  margin-top: $s-size;
  border-top: 1px solid darken($off-white, 10%);
}

.list-item a {
  color: black;
  &:hover {
    color: $blue;
  }
}

.list-item__title {
  flex: 5;
}

.list-item__info {
  flex: 1;
  margin-right: $s-size;
  &:hover {
    opacity: .5;
  }
}

.list-item__remove {
  flex: 1;
}


.list-item__settings {
  @extend .list-item;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: none;
  border-bottom: none;
  background: $off-white;
}

.list-item__settings:first-of-type {
  margin-top: 0px;
  border-top: none;
}

.list-item__settings:last-of-type {
  border-bottom: 1px solid darken($off-white, 10%);
}


.list-items__settings-toggle {
  padding: none $s-size;
}


.list-item__settings-description {
  font-size: $small-font-size;
}

