.search {
  display: inline-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.search__controls {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: $s-size;
}

.tags {
  min-width: 200px;
}

.search__title {
  padding-right: $xs-size;
  @media (max-width: $desktop-breakpoint) {
    text-align: center;
  }
}