.toggle__title {
  padding-right: $xs-size;
  @media (max-width: $desktop-breakpoint) {
    text-align: center;
  }
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $s-size;
}