/* tooltip styles */
  .react-tooltip-lite {
    background: #333;
    color: white;
    font-size: $s-size;
  }

  .react-tooltip-lite a {
    color: #86b0f4;
    text-decoration: none;
  }

  .react-tooltip-lite a:hover {
    color: #4286f4;
  }

  .react-tooltip-lite-up-arrow {
    border-top: 10px solid #333;
  }

  .react-tooltip-lite-down-arrow {
    border-bottom: 10px solid #333;
  }

  .react-tooltip-lite-right-arrow {
    border-right: 10px solid #333;
  }

  .react-tooltip-lite-left-arrow {
    border-left: 10px solid #333;
  }