@import url('https://fonts.googleapis.com/css?family=Cinzel:900');
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  box-sizing: border-box; // calculates sizing by INCLUDING border and padding;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  font-family: Raleway;
}

button {
  cursor: pointer;
  font-family: Raleway;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}